body {
  background-color: black;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 10vh;
  width: 20vw;
  margin: auto;
}

.search-input {
  width: 60%;
}

.gifs {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
}

.gif {
  padding: 0 10px;
}
